<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  	<li>Completed: 
  	  <%= check_box_tag "complete", "task", task.completed %>
  	  Task: 
  	  <%= task.title %>
  	  <%= link_to "View", show_path(task) %>
  	</li>
  <% end %>
</ul>